
@{
    ViewBag.Title = "ExternalHome";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<h2>External Jury Home</h2>
<hr />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="FinalEvaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Final Evaluation</h3>
                            <p class="card-category">
                                <span class="text-success"></span> Final Evaluation Forms.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                             Final Evaluation Forms
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


