
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<h2>Student Home</h2>

<hr />

<div class="content">
    <div class="container-fluid">
        <div class="row">Final Year Project I</div>
        <div class="row">
            <div class="col-md-4">
                <a href="StudentProposal">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Add Proposal</h3>
                            <p class="card-category">
                                <span class="text-success"> </span> FYP I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                Fill FYP-I Proposal Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="ViewStudentProposal">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">View Proposal</h3>
                            <p class="card-category">
                                <span class="text-success"> </span> FYP I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                Fill FYP-I Proposal Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="ViewStudentDefense">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Defense</h3>
                            <p class="card-category">
                                <span class="text-success"> </span> FYP I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP-I Defense Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="ViewFyp1FinalForm_Student">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Final Evaluation</h3>
                            <p class="card-category">
                                <span class="text-success"> </span> FYP I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP-I Final Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">Final Year Project II</div>

        <div class="row">
            <div class="col-md-4">
                <a href="FYP2MidEvaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"> FYP-II Mid Evaluation</h3>
                            <p class="card-category">
                                <span class="text-success"></span> FYP-II
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View Mid Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="Evaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">FYP Final Evaluation</h3>
                            <p class="card-category">
                                <span class="text-success"></span> FYP-II
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP Final Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

