@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<h2>Teacher Home</h2>
<hr />
<div class="content">
    <div class="container-fluid">
        <div class="row">Final Year Project I</div>
        <div class="row">
            <div class="col-md-4">
                <a href="SupervisorProposalCards">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">View Proposals</h3>
                            <p class="card-category">
                                <span class="text-success"></span> FYP-I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                Fill FYP Proposal Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="DefenseCards">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Defense</h3>
                            <p class="card-category">
                                <span class="text-success"></span> FYP-I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP Defense Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="Fyp1FinalCards">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Final Evaluation</h3>
                            <p class="card-category">
                                <span class="text-success"></span> FYP-I
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP1 Final Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">Final Year Project II</div>

        <div class="row">
            <div class="col-md-4">
                <a href="MidEvaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Mid Evaluation By Supervisor </h3>

                            <p class="card-category">
                                <span class="text-success"></span> Mid Evaluation Forms
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP-II Mid Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="FinalEvaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Final Evaluation by Supervisor</h3>
                            <p class="card-category">
                                <span class="text-success"></span> Final Evaluation Forms.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP-II Final Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="InternalEvaluation">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Final Evaluation by Internal Jury</h3>
                            <p class="card-category">
                                <span class="text-success"></span> Final Evaluation Forms.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                View FYP-II Final Evaluation Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

