
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    @RenderPage(Url.Content("/Content/FacultyRecruitment/Contents/index/index.cshtml"))
</body>
</html>

