
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="~/Contents/index/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/Contents/index/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/Contents/index/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Amaranth">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="~/Contents/index/assets/css/untitled.css">
</head>

<body>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>Contact Us</strong></h2>
                    <p>Contact us here.</p>
                </div>
                <form>
                    <div class="form-group"><label>Name</label><input type="text" class="form-control" /></div>
                    <div class="form-group"><label>Subject</label><input type="text" class="form-control" /></div>
                    <div class="form-group"><label>Email</label><input type="text" class="form-control" /></div>
                    <div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="button">Send</button></div>
                </form>
            </div>
        </section>
    </main>
    <script src="~/Contents/testindex/assets/js/jquery.min.js"></script>
    <script src="~/Contents/testindex/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Contents/testindex/assets/js/theme.js"></script>
</body>

</html>