
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="~/Contents/index/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/Contents/index/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/Contents/index/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Amaranth">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="~/Contents/index/assets/css/untitled.css">
</head>

<body>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>Offered Programs for Teaching</strong><br></h2>
                    <p><strong>THREE programs we offer.</strong><br></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="~/Contents/index/assets/img/bba.jpg">
                            <div class="card-body info">
                                <h4 class="card-title"><strong>BACHELOR OF BUSINESS ADMINISTRATION</strong><br><br></h4>
                                <p class="card-text">
                                    Business administration is administration of a business. It includes all aspects of overseeing and supervising business operations. From the point of view of management and leadership, it also covers fields that include
                                    accounting, finance, project management and marketing.&nbsp;<br><br><br>
                                </p>
                                <div class="icons"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="~/Contents/index/assets/img/cs.jpg">
                            <div class="card-body info">
                                <h4 class="card-title"><strong>BACHELOR OF COMPUTER SCIENCE&nbsp;</strong><br><br></h4>
                                <p class="card-text">Computer science (sometimes called&nbsp;computation science&nbsp;or&nbsp;computing science) is the study of processes that interact with data and that can be represented as data in the form of programs.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="~/Contents/index/assets/img/ee1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title"><strong>BACHELOR OF ELECTRICAL ENGINEERING</strong><br><br></h4>
                                <p class="card-text">Electrical engineering is an engineering discipline concerned with the study, design and application of equipment, devices and systems which use electricity, electronics, and electromagnetism.<br><br><br></p>
                                <div class="icons"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/Contents/index/assets/js/jquery.min.js"></script>
    <script src="~/Contents/index/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Contents/index/assets/js/theme.js"></script>
</body>

</html>