
@model  IptProject.Models.Cafeteria.FoodItem


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.5.4/dist/sweetalert2.all.min.js"><</script>
<div>

    <form id="myForm">

        
        @Html.HiddenFor(model => model.ItemId ,new { @id="ItemId"})
        @Html.DropDownListFor(model => model.ItemStatus, ViewBag.ItemStatus as SelectList, "--select--", new { @class = "form-control" , @value=Model.ItemStatus ,@id="ItemStatus"})

     

        <a href="#" id="btnSubmit" class="btn btn-primary btn-block">
            Submit
        </a>


    </form>



</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

       

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/CafeteriaStaff/EditItemStatus",
                data: myformdata,
                success: function (response) {
                    if (response != null) {
                        swal.fire({ text: response, timer: 15000 });
                    }
                    if (response == "Item Status Updated!") {
                      
                        var is = $("#ItemStatus").val();
                        var id = $("#ItemId").val();
                     
                        $("itemid_" + id).text(is);
                        
                       
                    }

                    $("#myModal").modal("hide");
                    //window.location.href = "/CafeteriaStaff/ActiveLectures";

                }

            })
        })

    })


</script>