
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Login</h4>
           
            </div>
            <div class="card-body">
               
            </div>
        </div>
    </div>
