@model IptProject.Models.Cafeteria.Wallet

@{
    ViewBag.Title = "TopUpWallet";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}




<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Top up Wallet</h4>

                    </div>
                    <div class="card-body">
                        <form id="myForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Student Roll Number</label>
                                        <input type="text" rows="3" class="form-control" name="rollnumber" id="rollnumber" placeholder="00K0000"/>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Enter Amount</label>
                                    <input type="text" rows="3" class="form-control" name="Amount" id="Amount" placeholder="Enter amount to top up"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                </div>

                            </div>
                           

                            <a href="#" id="btnSubmit" class="btn btn-primary btn-block">
                                Submit
                            </a>
                            @*<button type="submit" class="btn btn-primary pull-right">Submit</button>*@
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>

            $(document).ready(function () {
                debugger;
                $("#btnSubmit").click(function () {

                    debugger;
                    var myformdata = $("#myForm").serialize();

                    $.ajax({

                        type: "POST",
                        url: "/CafeteriaStaff/TopUpWallet",
                        data: myformdata,
                        success: function (response) {
                            if (response == "Item Status Updated!") {
                                Swal.fire(
                                    'Yaayyy!',
                                    'Your wallet has been updated!',
                                    'success'
                                ).then(function(){
                                    window.location.href='/cafeteriastaff/vieworders'

                                });
                            }
                            else {
                                Swal.fire({
                                  icon: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                                })
                          }

                        }

                    });
                });

            })


    </script>

}


