@using IptProject.Models.JobPortal
@model List<Job>
@{
    ViewBag.Title = "Jobs";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Job Hunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/bootstrap-grid.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/icons.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/animate.min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/style.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/responsive.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/chosen.css") />


    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/colors/colors.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/bootstrap.css") />


</head>
<body>

    <div class="page-loading">
        <img src="images/loader.gif" alt="" />
        <span>Skip Loader</span>
    </div>

    <!--<div class="theme-layout" id="scrollup">-->
    <div class="container fluid" id="scrollup">

        <!--<div class="responsive-header">
            <div class="responsive-menubar">
                <div class="res-logo"><a href="index.html" title=""><img src="images/resource/logo.png" alt="" /></a></div>
                <div class="menu-resaction">
                    <div class="res-openmenu">
                        <img src="images/icon.png" alt="" /> Menu
                    </div>
                    <div class="res-closemenu">
                        <img src="images/icon2.png" alt="" /> Close
                    </div>
                </div>
            </div>
            <div class="responsive-opensec">
                <div class="btn-extars">
                    <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                    <ul class="account-btns">
                        <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
                        <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
                    </ul>
                </div>
                <form class="res-search">
                    <input type="text" placeholder="Job title, keywords or company name" />
                    <button type="submit"><i class="la la-search"></i></button>
                </form>
                <div class="responsivemenu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Home</a>
                            <ul>
                                <li><a href="index.html" title="">Home Layout 1</a></li>
                                <li><a href="index2.html" title="">Home Layout 2</a></li>
                                <li><a href="index3.html" title="">Home Layout 3</a></li>
                                <li><a href="index4.html" title="">Home Layout 4</a></li>
                                <li><a href="index5.html" title="">Home Layout 5</a></li>
                                <li><a href="index6.html" title="">Home Layout 6</a></li>
                                <li><a href="index7.html" title="">Home Layout 7</a></li>
                                <li><a href="index8.html" title="">Home Layout 8</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Employers</a>
                            <ul>
                                <li><a href="employer_list1.html" title=""> Employer List 1</a></li>
                                <li><a href="employer_list2.html" title="">Employer List 2</a></li>
                                <li><a href="employer_list3.html" title="">Employer List 3</a></li>
                                <li><a href="employer_list4.html" title="">Employer List 4</a></li>
                                <li><a href="employer_single1.html" title="">Employer Single 1</a></li>
                                <li><a href="employer_single2.html" title="">Employer Single 2</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#" title="">Employer Dashboard</a>
                                    <ul>
                                        <li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
                                        <li><a href="employer_packages.html" title="">Employer Packages</a></li>
                                        <li><a href="employer_post_new.html" title="">Employer Post New</a></li>
                                        <li><a href="employer_profile.html" title="">Employer Profile</a></li>
                                        <li><a href="employer_resume.html" title="">Employer Resume</a></li>
                                        <li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
                                        <li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
                                        <li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Candidates</a>
                            <ul>
                                <li><a href="candidates_list.html" title="">Candidates List 1</a></li>
                                <li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
                                <li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
                                <li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
                                <li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#" title="">Candidates Dashboard</a>
                                    <ul>
                                        <li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
                                        <li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
                                        <li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
                                        <li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
                                        <li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
                                        <li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
                                        <li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
                                        <li><a href="candidates_change_password.html" title="">Change Password</a></li>
                                        <li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Blog</a>
                            <ul>
                                <li><a href="blog_list.html"> Blog List 1</a></li>
                                <li><a href="blog_list2.html">Blog List 2</a></li>
                                <li><a href="blog_list3.html">Blog List 3</a></li>
                                <li><a href="blog_single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Job</a>
                            <ul>
                                <li><a href="job_list_classic.html">Job List Classic</a></li>
                                <li><a href="job_list_grid.html">Job List Grid</a></li>
                                <li><a href="job_list_modern.html">Job List Modern</a></li>
                                <li><a href="job_single1.html">Job Single 1</a></li>
                                <li><a href="job_single2.html">Job Single 2</a></li>
                                <li><a href="job-single3.html">Job Single 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Pages</a>
                            <ul>
                                <li><a href="about.html" title="">About Us</a></li>
                                <li><a href="404.html" title="">404 Error</a></li>
                                <li><a href="contact.html" title="">Contact Us 1</a></li>
                                <li><a href="contact2.html" title="">Contact Us 2</a></li>
                                <li><a href="faq.html" title="">FAQ's</a></li>
                                <li><a href="how_it_works.html" title="">How it works</a></li>
                                <li><a href="login.html" title="">Login</a></li>
                                <li><a href="pricing.html" title="">Pricing Plans</a></li>
                                <li><a href="register.html" title="">Register</a></li>
                                <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <header class="stick-top">
            <div class="menu-sec">
                <div class="container">
                    <div class="logo">
                        <a href="index.html" title=""><img src="images/resource/logo.png" alt="" /></a>
                    </div>
                    <div class="btn-extars">
                        <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                        <ul class="account-btns">
                            <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
                            <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
                        </ul>
                    </div>
                   <nav>
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Home</a>
                                <ul>
                                    <li><a href="index.html" title="">Home Layout 1</a></li>
                                    <li><a href="index2.html" title="">Home Layout 2</a></li>
                                    <li><a href="index3.html" title="">Home Layout 3</a></li>
                                    <li><a href="index4.html" title="">Home Layout 4</a></li>
                                    <li><a href="index5.html" title="">Home Layout 5</a></li>
                                    <li><a href="index6.html" title="">Home Layout 6</a></li>
                                    <li><a href="index7.html" title="">Home Layout 7</a></li>
                                    <li><a href="index8.html" title="">Home Layout 8</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Employers</a>
                                <ul>
                                    <li><a href="employer_list1.html" title=""> Employer List 1</a></li>
                                    <li><a href="employer_list2.html" title="">Employer List 2</a></li>
                                    <li><a href="employer_list3.html" title="">Employer List 3</a></li>
                                    <li><a href="employer_list4.html" title="">Employer List 4</a></li>
                                    <li><a href="employer_single1.html" title="">Employer Single 1</a></li>
                                    <li><a href="employer_single2.html" title="">Employer Single 2</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#" title="">Employer Dashboard</a>
                                        <ul>
                                            <li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
                                            <li><a href="employer_packages.html" title="">Employer Packages</a></li>
                                            <li><a href="employer_post_new.html" title="">Employer Post New</a></li>
                                            <li><a href="employer_profile.html" title="">Employer Profile</a></li>
                                            <li><a href="employer_resume.html" title="">Employer Resume</a></li>
                                            <li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
                                            <li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
                                            <li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Candidates</a>
                                <ul>
                                    <li><a href="candidates_list.html" title="">Candidates List 1</a></li>
                                    <li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
                                    <li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
                                    <li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
                                    <li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#" title="">Candidates Dashboard</a>
                                        <ul>
                                            <li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
                                            <li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
                                            <li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
                                            <li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
                                            <li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
                                            <li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
                                            <li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
                                            <li><a href="candidates_change_password.html" title="">Change Password</a></li>
                                            <li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Blog</a>
                                <ul>
                                    <li><a href="blog_list.html"> Blog List 1</a></li>
                                    <li><a href="blog_list2.html">Blog List 2</a></li>
                                    <li><a href="blog_list3.html">Blog List 3</a></li>
                                    <li><a href="blog_single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Job</a>
                                <ul>
                                    <li><a href="job_list_classic.html">Job List Classic</a></li>
                                    <li><a href="job_list_grid.html">Job List Grid</a></li>
                                    <li><a href="job_list_modern.html">Job List Modern</a></li>
                                    <li><a href="job_single1.html">Job Single 1</a></li>
                                    <li><a href="job_single2.html">Job Single 2</a></li>
                                    <li><a href="job-single3.html">Job Single 3</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Pages</a>
                                <ul>
                                    <li><a href="about.html" title="">About Us</a></li>
                                    <li><a href="404.html" title="">404 Error</a></li>
                                    <li><a href="contact.html" title="">Contact Us 1</a></li>
                                    <li><a href="contact2.html" title="">Contact Us 2</a></li>
                                    <li><a href="faq.html" title="">FAQ's</a></li>
                                    <li><a href="how_it_works.html" title="">How it works</a></li>
                                    <li><a href="login.html" title="">Login</a></li>
                                    <li><a href="pricing.html" title="">Pricing Plans</a></li>
                                    <li><a href="register.html" title="">Register</a></li>
                                    <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </header>
           -->
        <section class="overlape">
            <div class="block no-padding">
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-header wform">
                                <div class="job-search-sec">
                                    <div class="job-search">

                                        <h4>Explore Thousand Of Jobs With Just Simple Search...</h4>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="job-field">
                                                        <input type="text" placeholder="Job title, keywords or company name" />
                                                        <i class="la la-keyboard-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="job-field">
                                                        <select data-placeholder="City, province or region" class="chosen-city">
                                                            <option>Instambul</option>
                                                            <option>New York</option>
                                                            <option>London</option>
                                                            <option>Russia</option>
                                                        </select>
                                                        <i class="la la-map-marker"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1">
                                                    <button type="submit"><i class="la la-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--<div class="tags-bar">
                                            <span>Full Time<i class="close-tag">x</i></span>
                                            <span>UX/UI Design<i class="close-tag">x</i></span>
                                            <span>Istanbul<i class="close-tag">x</i></span>
                                            <div class="action-tags">
                                                <a href="#" title=""><i class="la la-cloud-download"></i> Save</a>
                                                <a href="#" title=""><i class="la la-trash-o"></i> Clean</a>
                                            </div>
                                        </div><!-- Tags Bar -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="block remove-top">
                <div class="container fluid">
                    <div class="row no-gape">
                        <!--<aside class="col-lg-3 column">
                            <div class="widget border">
                                <h3 class="sb-title open">Date Posted</h3>
                                <div class="posted_widget">
                                    <input type="radio" name="choose" id="232"><label for="232">Last Hour</label><br />
                                    <input type="radio" name="choose" id="wwqe"><label for="wwqe">Last 24 hours</label><br />
                                    <input type="radio" name="choose" id="erewr"><label for="erewr">Last 7 days</label><br />
                                    <input type="radio" name="choose" id="qwe"><label for="qwe">Last 14 days</label><br />
                                    <input type="radio" name="choose" id="wqe"><label for="wqe">Last 30 days</label><br />
                                    <input type="radio" name="choose" id="qweqw"><label class="nm" for="qweqw">All</label><br />
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title open">Job Type</h3>
                                <div class="type_widget">
                                    <p class="flchek"><input type="checkbox" name="choosetype" id="33r"><label for="33r">Freelance (9)</label></p>
                                    <p class="ftchek"><input type="checkbox" name="choosetype" id="dsf"><label for="dsf">Full Time (8)</label></p>
                                    <p class="ischek"><input type="checkbox" name="choosetype" id="sdd"><label for="sdd">Internship (8)</label></p>
                                    <p class="ptchek"><input type="checkbox" name="choosetype" id="sadd"><label for="sadd">Part Time (5)</label></p>
                                    <p class="tpchek"><input type="checkbox" name="choosetype" id="assa"><label for="assa">Temporary (5)</label></p>
                                    <p class="vtchek"><input type="checkbox" name="choosetype" id="ghgf"><label for="ghgf">Volunteer (8)</label></p>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title open">Specialism</h3>
                                <div class="specialism_widget">
                                    <div class="field_w_search">
                                        <input type="text" placeholder="Search Spaecialisms" />
                                    </div>
                                    <div class="simple-checkbox scrollbar">
                                        <p><input type="checkbox" name="spealism" id="as"><label for="as">Accountancy (2)</label></p>
                                        <p><input type="checkbox" name="spealism" id="asd"><label for="asd">Banking (2)</label></p>
                                        <p><input type="checkbox" name="spealism" id="errwe"><label for="errwe">Charity & Voluntary (3)</label></p>
                                        <p><input type="checkbox" name="spealism" id="fdg"><label for="fdg">Digital & Creative (4)</label></p>
                                        <p><input type="checkbox" name="spealism" id="sc"><label for="sc">Estate Agency (3)</label></p>
                                        <p><input type="checkbox" name="spealism" id="aw"><label for="aw">Graduate (2)</label></p>
                                        <p><input type="checkbox" name="spealism" id="ui"><label for="ui">IT Contractor (7)</label></p>
                                        <p><input type="checkbox" name="spealism" id="saas"><label for="saas">Charity & Voluntary (3)</label></p>
                                        <p><input type="checkbox" name="spealism" id="rrrt"><label for="rrrt">Digital & Creative (4)</label></p>
                                        <p><input type="checkbox" name="spealism" id="eweew"><label for="eweew">Estate Agency (3)</label></p>
                                        <p><input type="checkbox" name="spealism" id="bnbn"><label for="bnbn">Graduate (2)</label></p>
                                        <p><input type="checkbox" name="spealism" id="ffd"><label for="ffd">IT Contractor (7)</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Offerd Salary</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="1"><label for="1">10k - 20k</label></p>
                                        <p><input type="checkbox" name="smplechk" id="2"><label for="2">20k - 30k</label></p>
                                        <p><input type="checkbox" name="smplechk" id="3"><label for="3">30k - 40k</label></p>
                                        <p><input type="checkbox" name="smplechk" id="4"><label for="4">40k - 50k</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Career Level</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="5"><label for="5">Intermediate</label></p>
                                        <p><input type="checkbox" name="smplechk" id="6"><label for="6">Normal</label></p>
                                        <p><input type="checkbox" name="smplechk" id="7"><label for="7">Special</label></p>
                                        <p><input type="checkbox" name="smplechk" id="8"><label for="8">Experienced</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Experince</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="9"><label for="9">1Year to 2Year</label></p>
                                        <p><input type="checkbox" name="smplechk" id="10"><label for="10">2Year to 3Year</label></p>
                                        <p><input type="checkbox" name="smplechk" id="11"><label for="11">3Year to 4Year</label></p>
                                        <p><input type="checkbox" name="smplechk" id="12"><label for="12">4Year to 5Year</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Gender</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="13"><label for="13">Male</label></p>
                                        <p><input type="checkbox" name="smplechk" id="14"><label for="14">Female</label></p>
                                        <p><input type="checkbox" name="smplechk" id="15"><label for="15">Others</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Industry</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="16"><label for="16">Meezan Job</label></p>
                                        <p><input type="checkbox" name="smplechk" id="17"><label for="17">Speicalize Jobs</label></p>
                                        <p><input type="checkbox" name="smplechk" id="18"><label for="18">Business Jobs</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget border">
                                <h3 class="sb-title closed">Qualification</h3>
                                <div class="specialism_widget">
                                    <div class="simple-checkbox">
                                        <p><input type="checkbox" name="smplechk" id="19"><label for="19">Matriculation</label></p>
                                        <p><input type="checkbox" name="smplechk" id="20"><label for="20">Intermidiate</label></p>
                                        <p><input type="checkbox" name="smplechk" id="21"><label for="21">Gradute</label></p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner_widget">
                                <a href="#" title=""><img src="images/resource/banner.png" alt="" /></a>
                            </div>
                        </aside>-->

                        <div class="col-lg-12 column">
                            <div class="modrn-joblist np">
                                <div class="filterbar">
                                    <span class="emlthis"><a href="/cdn-cgi/l/email-protection#781d00191508141d561b1715" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
                                    <h5>@Model.Count Jobs & Vacancies</h5>
                                </div>
                            </div><!-- MOdern Job LIst -->

                            <div class="job-list-modern">
                                <div class="job-listings-sec no-border">
                                    @foreach (Job job in Model)
                                    {
                                        <div style="padding: 50px" class="job-listing wtabs">
                                            <div class="job-title-sec">
                                                @*<div class="c-logo"> <img src="images/resource/l1.png" alt="" /> </div>*@
                                                <h3><a href="/job/detail/@job.JobID" title="">@job.Title</a></h3>
                                                <span>@job.Organization</span>
                                                <div class="job-lctn"><i class="la la-map-marker"></i>Karachi</div>
                                            </div>
                                            <div class="job-style-bx">
                                                <span class="job-is ft">View Details</span>
                                                <span class="fav-job"><i class="la la-heart-o"></i></span>

                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="account-popup-area signin-popup-box">
        <div class="account-popup">
            <span class="close-popup"><i class="la la-close"></i></span>
            <h3>User Login</h3>
            <span>Click To Login With Demo User</span>
            <div class="select-user">
                <span>Candidate</span>
                <span>Employer</span>
            </div>
            <form>
                <div class="cfield">
                    <input type="text" placeholder="Username" />
                    <i class="la la-user"></i>
                </div>
                <div class="cfield">
                    <input type="password" placeholder="********" />
                    <i class="la la-key"></i>
                </div>
                <p class="remember-label">
                    <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
                </p>
                <a href="#" title="">Forgot Password?</a>
                <button type="submit">Login</button>
            </form>
            <div class="extra-login">
                <span>Or</span>
                <div class="login-social">
                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                    <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div><!-- LOGIN POPUP -->




    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/jquery.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/modernizr.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/script.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/bootstrap.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/wow.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/slick.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/parallax.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/select-chosen.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/jquery.scrollbar.min.js")></script>

</body>
</html>

