@using IptProject.Models.JobPortal
@model List<Job>
@{
    ViewBag.Title = "Jobs";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Job Hunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/bootstrap-grid.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/icons.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/animate.min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/style.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/responsive.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/chosen.css") />


    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/colors/colors.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/bootstrap.css") />


</head>
<body>

    <div class="page-loading">
        <img src="images/loader.gif" alt="" />
        <span>Skip Loader</span>
    </div>

    <!--<div class="theme-layout" id="scrollup">-->
    <div class="container fluid" id="scrollup">
        <section class="overlape">
            <div class="block no-padding">
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-header wform">
                                <div class="job-search-sec">
                                    <div class="job-search">

                                        <h4>Explore Thousand Of Jobs With Just Simple Search...</h4>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="job-field">
                                                        <input type="text" placeholder="Job title, keywords or company name" />
                                                        <i class="la la-keyboard-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="job-field">
                                                        <select data-placeholder="City, province or region" class="chosen-city">
                                                            <option>Instambul</option>
                                                            <option>New York</option>
                                                            <option>London</option>
                                                            <option>Russia</option>
                                                        </select>
                                                        <i class="la la-map-marker"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1">
                                                    <button type="submit"><i class="la la-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--<div class="tags-bar">
                                            <span>Full Time<i class="close-tag">x</i></span>
                                            <span>UX/UI Design<i class="close-tag">x</i></span>
                                            <span>Istanbul<i class="close-tag">x</i></span>
                                            <div class="action-tags">
                                                <a href="#" title=""><i class="la la-cloud-download"></i> Save</a>
                                                <a href="#" title=""><i class="la la-trash-o"></i> Clean</a>
                                            </div>
                                        </div><!-- Tags Bar -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="block remove-top">
                <div class="container fluid">
                    <div class="row no-gape">
                        
                        <div class="col-lg-12 column">
                            <div class="modrn-joblist np">
                                <div class="filterbar">
                                    <span class="emlthis"><a href="/cdn-cgi/l/email-protection#781d00191508141d561b1715" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
                                    <h5>@Model.Count Jobs & Vacancies</h5>
                                </div>
                            </div><!-- MOdern Job LIst -->

                            <div class="job-list-modern">
                                <div class="job-listings-sec no-border">
                                    @foreach (Job job in Model)
                                    {
                                        <div style="padding: 50px" class="job-listing wtabs">
                                            <div class="job-title-sec">
                                                @*<div class="c-logo"> <img src="images/resource/l1.png" alt="" /> </div>*@
                                                <h3><a href="/job/detail/@job.JobID" title="">@job.Title</a></h3>
                                                <span>@job.Organization</span>
                                                <div class="job-lctn"><i class="la la-map-marker"></i>Karachi</div>
                                            </div>
                                            <div class="job-style-bx">
                                                <span class="job-is ft">View Details</span>
                                                <span class="fav-job"><i class="la la-heart-o"></i></span>

                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="account-popup-area signin-popup-box">
        <div class="account-popup">
            <span class="close-popup"><i class="la la-close"></i></span>
            <h3>User Login</h3>
            <span>Click To Login With Demo User</span>
            <div class="select-user">
                <span>Candidate</span>
                <span>Employer</span>
            </div>
            <form>
                <div class="cfield">
                    <input type="text" placeholder="Username" />
                    <i class="la la-user"></i>
                </div>
                <div class="cfield">
                    <input type="password" placeholder="********" />
                    <i class="la la-key"></i>
                </div>
                <p class="remember-label">
                    <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
                </p>
                <a href="#" title="">Forgot Password?</a>
                <button type="submit">Login</button>
            </form>
            <div class="extra-login">
                <span>Or</span>
                <div class="login-social">
                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                    <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div><!-- LOGIN POPUP -->




    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/jquery.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/modernizr.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/script.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/bootstrap.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/wow.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/slick.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/parallax.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/select-chosen.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/jquery.scrollbar.min.js")></script>

</body>
</html>

