
@{
    ViewBag.Title = "Chatbot";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<h2>Chatbot</h2>

<iframe src='https://webchat.botframework.com/embed/botipt?s=r17ye5CTHB0.wR2wznxuwU0KS9uYd6yZ7qlbwyCf-YGXulTytmBtFXQ' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>