body {
}
.rating{

}
    .rating .item {
        border: 2px solid transparent;
        
    }

        .rating .item:hover {
            background: #e1e1e1;
            border:2px solid #d0d0d0;
        }
        .rating .item:active {
            background: #e1e1e1;
            border: 2px solid #d0d0d0;
        }
.item {
    height: 50px;
    width: 50px;
    margin-right:10px;
    padding:5px;
}
.ratingClicked {
    background: #e1e1e1;
    border: 2px solid #d0d0d0;
}
.fbcomment {
   
    width:100px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size:12px !important ;
}