@model IptProject.Models.Cafeteria.FoodItem

<form id="myForm">


    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ItemId)


        <div class="form-group">
            @*@Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="ITEMNAME" class="control-label col-md-10">Item Name</label>
            <div class="col-md-10 ">
                <input type="text" class="form-control" id="ITEMNAME" name="ItemName" value="@Model.ItemName" disabled />
            </div>
        </div>


        <div class="form-group" style="margin-left:30px">

            <label for="Quantity" class="control-label col-md-2">Quantity</label>
            <div class="row">
                @*<button class="btn btn-primary btn-fab btn-fab-mini btn-round" id="inc">
                        <i class="material-icons">add</i>
                    </button>*@
                <a class="btn btn-primary btn-fab btn-fab-mini btn-round" id="dec" style="color:white"> <i class="material-icons">remove</i></a>
                <div class="col-md-2 ">
                    <input type="number" class="form-control" id="Quantity" placeholder="Enter Quantity" name="Quantity" value="0" style="text-align:center;" />
                </div>
                <a class="btn btn-primary btn-fab btn-fab-mini btn-round" id="inc" style="color:white"> <i class="material-icons">add</i></a>

            </div>



        </div>



    </div>

</form>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input value="Save" class="btn btn-primary" id="btnSubmit" />
    </div>
</div>


<script typpe="text/javascript">
       $("#inc").click(function () {
            debugger;
            var value = parseInt($("#Quantity").val()) + 1;
            $("#Quantity").val(value);


       });
     $("#dec").click(function () {
            debugger;
            var value = parseInt($("#Quantity").val()) - 1;
            $("#Quantity").val(value);


        });
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            debugger;


            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Cafeteria/AddtoCart",
                data: myformdata,
                success: function (response) {

                    $("#myModal").modal("hide");
                    if (response == "Success") {

                        Swal.fire('Updated', 'Added to Cart', 'success')

                    }
                    else if (response != null) {
                        Swal.fire(response);
                    }




                }

            })
        })

    })


</script>




