@model List<IptProject.Models.Cafeteria.FoodOrder>


@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Your Orders</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Date
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Payment Method
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @item.Datestr
                                        </td>
                                        <td>
                                            @item.Timestr
                                        </td>
                                        <td>
                                            @item.PaymentMethod
                                        </td>
                                        <td>
                                            @if (item.OrderStatus == "Pending")
                                            {
                                                <span class="badge badge-pill badge-secondary">Pending</span>
                                            }
                                            else if (item.OrderStatus == "Delievered")
                                            {
                                                <span class="badge badge-pill badge-primary">Delievered</span>
                                            }
                                            else if (item.OrderStatus == "Cancelled")
                                            {
                                                <span class="badge badge-pill badge-danger">Cancelled</span>
                                            }
                                            else if (item.OrderStatus == "Ready")
                                            {
                                                <span class="badge badge-pill badge-success">Ready</span>
                                            }


                                        </td>
                                        <td>
                                            <a class="btn btn-primary" onclick='ViewDetails("@item.OrderID")' style="color:white">View Details</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>




@section scripts{
    <script>
        var ViewDetails = function (OrderId) {
            var url = "/Cafeteria/ViewDetails?OrderId=" + OrderId;
            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");
            });
        }
    </script>
}

