
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Faculty Login</h4>

        </div>
        <div class="card-body">
            <div class="card-body">
                <form id="myForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Username</label>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Password</label>
                                <input type="password" id="password" name="password" class="form-control">
                            </div>
                        </div>
                    </div>



                </form>
                <a id="btnSubmit" style="color:white" class="btn btn-primary pull-right">Login</a>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $("#btnSubmit").click(function () {

                Swal.showLoading()

                var myformdata = $("#myForm").serialize();
                debugger;

                $.ajax({

                    type: "POST",
                    url: "/Auth/FacultyLogin",
                    data: myformdata,
                    success: function (response) {
                        Swal.close();
                        if (response != null) {

                            if (response == "LoginSuccessful") {
                                location.href = "/Auth/FacultyHome";
                            }
                            else {

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response,
                                    footer: '<a href>Why do I have this issue?</a>'
                                })


                            }
                        }


                    }

                })
            })

        })


    </script>


}
